#app-header {
    /* color: #596F8F;*/
    color: #ccc;
    font-size: 22px;
    font-weight: 200;
    padding: 6px 6px;
    text-shadow: 0px 2px 3px #666; /* inset */
}

#app-loading {
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 200px;
}