body {
    
    font-family: Helvetica, Arial;
    background: #fff;
    
}

/*Estilos para el grid y el formulario de los evaluados*************************/
.evaluated-row .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900; 
} 
 
.non-evaluated-row .x-grid-cell { 
    background-color: #e2ffe2; 
    color: #090; 
}

/*************************************************************/

/*Estilos para el grid y el formulario de la grilla de configuracion de evaluados*/
.selectedEv-row .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900; 
}
 
.notSelectedEv-row .x-grid-cell { 
    background-color: #ffffff; 
    color: #000000; 
}

.headerRed{
    color: #ffe2e2;
} 

/**********************************************************************************/

/*Estilos para el grid del listado de evaluaciones*************************/
.pend-row .x-grid-cell { 
    background-color: #e2ffe2; 
    color: #090; 
} 
 
.en_cur-row .x-grid-cell { 
    background-color: #FCF0DA; 
    color: #F39E06; 
}

.final-row .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900; 
}
/********************************************************************************/

/*Estilos para el grid del listado de familiares ********************************/
.sin_cert-row .x-grid-cell {  
    background-color: #ffffff; 
    color: #000000; 
} 
 
.cert_ini-row .x-grid-cell { 
    background-color: #e2ffe2; 
    color: #090; 
}

.cert_fin-row .x-grid-cell { 
    background-color: #A9BCF5; 
    color: #0101DF; 
}
/********************************************************************************/

/*Estilos para el grid de los agentes*******************************************/
.activos-row .x-grid-cell {  
    background-color: #ffffff; 
    color: #000000; 
} 
 
.bajas-row .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900;  
}

.tramite-jubilacion-row .x-grid-cell { 
    background-color: #FCF0DA; 
    color: #F39E06;
}

/********************************************************************************/

/*Estilos para el grid de solicitudes licencia*******************************************/
.pend-row-solicitud .x-grid-cell { 
    background-color: #e2ffe2; 
    color: #090; 
} 
 
.en_cur-row-solicitud .x-grid-cell { 
    background-color: #FCF0DA; 
    color: #F39E06; 
}

.final-row-solicitud .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900; 
}

/********************************************************************************/


.print
{
    background-image: url( ../img/print-icon2.png ) 
}

.print2
{
    background-image: url( ../img/print-icon3.png ) 
}

.print3
{
    background-image: url( ../img/print-icon4.png ) 
}

.download
{
    background-image: url( ../img/download2.png ) 
}

.add_user
{
    background-image: url( ../img/add_user2.png ) 
}

.delete_user
{
    background-image: url( ../img/delete_user2.png ) 
}

.edit_user
{
    background-image: url( ../img/edit_user2.png ) 
}

.antiguedades
{
    background-image: url( ../img/antiguedad_32x32.png ) 
}

.logout
{
     background-image: url( ../img/logout2.png ) 
}

.changePass
{
     background-image: url( ../img/change_password2.png ) 
}

.agregar
{
    background-image: url( ../img/folder_add2.png ) 
}

.quitar
{
    background-image: url( ../img/folder_delete3.png ) 
}

.agregarComision
{
    background-image: url( ../img/folder_add_30.png ) 
}

.quitarComision
{
    background-image: url( ../img/folder_delete_30.png ) 
}
.borrarCertificado
{
    background-image: url( ../img/delete-pdf_30.png ) 
}
.verRegistroHistoria
{
    background-image: url( ../img/view-icon_30.png ) 
}

.editarComision
{
    background-image: url( ../img/folder-edit_30.png ) 
}

.agregarSolicitudLicencia
{
    background-image: url( ../img/folder_add_30.png ) 
}

.quitarSolicitudLicencia
{
    background-image: url( ../img/folder_delete_30.png ) 
}

.editarSolicitudLicencia
{
    background-image: url( ../img/folder-edit_30.png ) 
}

.confirmarSolicitudLicencia
{
    background-image: url( ../img/confirm_30.png ) 
}

.add
{
    background-image: url( ../img/add.png ) 
}
.delete
{
    background-image: url( ../img/delete.png ) 
}
.folderedit
{
    background-image: url( ../img/folder-edit2.png ) 
}
.edit
{
    background-image: url( ../img/edit.png ) 
}
.edit2
{
    background-image: url( ../img/edit2.png ) 
}

.edit3
{
    background-image: url( ../img/edit3.png ) 
}

.save
{
    background-image: url( ../img/save2.png ) 
}

.save2
{
    background-image: url( ../img/save3.png ) 
}

.save3
{
    background-image: url( ../img/save4.png ) 
}

.cancel
{
    background-image: url( ../img/cancel2.png ) 
}

.cancel1
{
    background-image: url( ../img/cancel1.png ) 
}

.cancel2
{
    background-image: url( ../img/cancel3.png ) 
}

.clear
{
    background-image: url( ../img/clear2.png ) 
}

.edit_calendar
{
    background-image: url( ../img/edit_calendar2.png ) 
}
.delete_licencia
{
    background-image: url( ../img/delete_licencia_2.png ) 
}

.edit_licencia
{
    background-image: url( ../img/edit4.png ) 
}

.add_data
{
    background-image: url( ../img/add_data2.png ) 
}

.add_compensatoria_masiva
{
    background-image: url( ../img/upload_masivo_2.png ) 
}
.desiste
{
    background-image: url( ../img/delete_calendar2.png ) 
}

.dobleTurno
{
    background-image: url( ../img/dobleturno_chica.png ) 
}

.upload
{
    background-image: url( ../img/upload.png ) 
}

.upload_16
{
    background-image: url( ../img/upload_16.png ) 
}

.execute
{
    background-image: url( ../img/execute.png ) 
}
.execute_2
{
    background-image: url( ../img/execute_2.png ) 
}
.btnBSJ
{
    background-image: url( ../img/logo_bsj_30x30.jpg ) 
}

.btnBSJ_2
{
    background-image: url( ../img/logo_bsj_16x16.jpg ) 
}

.agregarComp
{
    background-image: url( ../img/down_arrow_23.png ) 
}
.divtabla {
/*float:left;
width: 100%;*/
text-align:center;
/*overflow: auto;
max-height: 600px;*/
}

.divtabla table {
margin: 10px auto;
}

table {
    *border-collapse: collapse; 
    border-spacing: 0;
    width: 80%;    
}


.container-narrow{
    background: #ffffff;
    font-family: 'Ropa Sans', sans-serif;
    margin: 0 auto;
    max-width: 1100px;
    width: 1100px;
}
.titulo{
    text-shadow: 0px 1px 2px #6b6b6b;
    filter: dropshadow(color=#6b6b6b, offx=0, offy=1);
}

.interior{
    padding: 20px;
    background: #ffffff;
    overflow: hidden;
    -webkit-box-shadow:  1px 2px 3px 2px rgba(102, 102, 102, 0.5);
    box-shadow:  1px 2px 3px 2px rgba(102, 102, 102, 0.5);
}

.rounded{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
